<div class="component-timeline">
    @foreach (EventViewModel timelineEvent in @TimelineData.Events)
    {
        <div class="timeline-event">
            <div class="timeline-date">
                @if (!timelineEvent.To.HasValue)
                {
                    <span>Depuis @timelineEvent.From</span>
                }
                else if (timelineEvent.From == timelineEvent.To.Value)
                {
                    <span>@timelineEvent.From</span>
                }
                else
                {
                    <span>@timelineEvent.From - @timelineEvent.To</span>
                }
            </div>
            <div class="timeline-line"></div>
            <div class="timeline-content">
                <div class="name">
                    <span class="label">@timelineEvent.Name</span>
                    <span class="supplement">@timelineEvent.Supplement</span>
                </div>
                <div class="iconInfos">
                    @foreach (var iconInfo in timelineEvent.IconInfos)
                    {
                        <div>
                            <i class="material-icons-outlined md-18">
                                @iconInfo.Icon
                            </i>
                            <span>@iconInfo.Label</span>
                        </div>
                    }
                </div>
                <div class="description">
                    @((MarkupString)@timelineEvent.Description)
                </div>
                @if (timelineEvent.TechnicalEnvironments != null && timelineEvent.TechnicalEnvironments.Length > 0)
                {
                    <div class="technical-environment">
                        <span class="label">@Translation.TECHNICAL_ENVIRONMENT</span> :
                        @foreach (var item in timelineEvent.TechnicalEnvironments)
                        {
                            <span class="item">@item</span>
                        }
                    </div>
                }
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public TimelineViewModel TimelineData { get; set; }
    [Parameter]
    public Translation Translation { get; set; }
}
